# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.env

# Database (rebuilt from CSV on each run)
*.db

# Frontend
node_modules/
dist/
.DS_Store
*.config.js
*.html

# VSCode
.vscode/

# Things we purposely want to exclude (usually test stuff)
exclude/
methods.txt

# Other unnecessary stuff
*.json
!vercel.json
*.svg
*.png
*.css
*.docx

# no need to commit large files
*.csv
*.tsv
